VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_EMAIL=admin@numberlandquest.local
SUPABASE_ADMIN_PASSWORD=admin123
SUPABASE_ADMIN_NAME=Platform Admin
SUPABASE_ADMIN_AVATAR=rainbow_guardian
