VITE_SUPABASE_URL=https://voqqklhnarvakfmakyoq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvcXFrbGhuYXJ2YWtmbWFreW9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NDQ5ODksImV4cCI6MjA5NjMyMDk4OX0.s0ZRtDi8BjF3078NqO8vTHmJuqCWm67tFjp96TmvuFo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvcXFrbGhuYXJ2YWtmbWFreW9xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDc0NDk4OSwiZXhwIjoyMDk2MzIwOTg5fQ.IgcXV0VklVkl-QKu__2MJlZOoWdPgQJGHHqeehJ5X_o
SUPABASE_ADMIN_EMAIL=eyydiiyaa@gmail.com
SUPABASE_ADMIN_PASSWORD=admin123
SUPABASE_ADMIN_NAME=Platform Admin
SUPABASE_ADMIN_AVATAR=rainbow_guardian
